# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
*.zip


sample_clean.html
sample.html
sample.svg.txt
sample2_clean.html
sample2.html

